body{
  background-color: lightgrey;


}
nav{
  background-color: #183153;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 18%;
  display: flex;
  align-items: right;
  justify-content: right;
  padding: 0 30px 0 10px;
  transform: translateX(-100%);
  transition: transform 0.4s ease;
  grid-area: "menu";
  
}
nav header{
  color: white;

}
nav ul{
  margin-top: 22%;
  padding: 0;
  list-style: none; 
}
nav ul li{
  margin: 14px 0;
  margin-right: 3%;
  text-align: left;
}
nav a{
  color: white;
  font-size: 16px;
  text-decoration: none;

}
nav ul i{
  color: white;
  font-size: 14px;
  padding-right: 1%;
}
nav a:hover{
  color: #d35400;
  text-decoration: none;
}
nav ul li:hover{
  background-color: teal;

}
.toggle{
  border: none;
  position: absolute;
  outline-style: none;
  border: none;
  top: 0;
  right: 0;
  transform: translateX(100%);
  font-size: 20px;
  padding: 10px 15px; 
}
.toggle .fa-bars{
  display: block;
  
}
.toggle .fa-times{
  display: none;
}
.active{
  transform: translateX(0);
  background-color: #183153;
}
.active .toggle .fa-bars{
  display: none;
}
.active .toggle .fa-times{
  display: block;
}
.text{
  position: absolute;
  top: 30%;
  left: 30%;
  transition: 1s position ease;

}