*{
    margin: 0;
    padding: 0;
}
.chambres{
    margin-top: 0;
    position: absolute;
    right: 0;
    background-color: #eeee;
    width: 82%;
    padding: 1.5%;
    min-height: 100%;
    max-height: fit-content;

}
.menu-bar ul{
    float: left;
}
.menu-bar ul li{
    list-style: none;
    display: block;
}
.menu-bar ul li a{
    text-decoration: none;
    color: black;
    font-size: 130%;
}
header h2{
    text-align: center;
}
.hotel{
    background-color: white;
    width: 100%;
    border-radius: 12px;
    padding: 10px;
    border-collapse: separate;
    border-spacing: 0 15px;
    

}
.hotel tr{
    width: 10%;
    padding: 12px;
    margin-top: 12px;
    text-align: center;
    color: #6F7A92;
    background-color: #EDEFF2;
    border: 1px solid #6F7A92;
}
.hotel tr th{
    font-size: 18px;
    background-color: aqua;



}
.hotel tr td .fa-map:hover{
    cursor: pointer;
    
}
.service{
    background-color: white;
    margin-top: 4%;
    width: 60%;
    height: auto;

}
.service table{
    background-color: white;
    width: 100%;
    border-radius: 12px;
    padding: 10px;
    border-collapse: separate;
    border-spacing: 0 15px;

}
.service table tr{
    width: 10%;
    padding: 12px;
    margin-top: 12px;
    text-align: center;
    color: #6F7A92;
    background-color: #EDEFF2;
    border: 1px solid #6F7A92;
    
}
#service-ajoute{
    width: 40%;
    height: auto;
    border: none;
    border-radius: 0em;
}
#service-ajoute h2{
    background-color: tomato;

}
#service-ajoute input[type="submit"]{
    width: 20%;
    height: 5%;
    color: white;
    background-color: tomato;
    border: none;
    outline-style: none;


}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0,0 , 0.4);
    z-index: center;
    text-align: center;
    display: none;

}

.modal-contenu{
    background-color: white;
    width: 50%;
    text-align: center;
    padding: 12px;
    margin: 15px auto;
    height: 80%;
    border-radius: 10%;
    padding: 2%;

}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
.modal-contenu span:hover{
      color: black;
      cursor: pointer;

}
