*{
    margin: 0;
    padding: 0;
}
.chambres{
    margin-top: 0;
    position: absolute;
    right: 0;
    background-color: #eeee;
    height: auto;
    width: 82%;
    padding: 1.5%;
    height: fit-content;
}
.menu-bar ul{
    float: left;
}
.menu-bar ul li{
    list-style: none;
    display: block;
}
.menu-bar ul li a{
    text-decoration: none;
    color: black;
    font-size: 130%;
}
header h2{
    text-align: center;
}
.reserve{
    width: 100%;
    padding: 10px;
    background-color: white;


}
.reserve select{
    border:1px solid #6F7A92;
    background-color: white;
    outline-style: none;

}
.reserve fieldset ul li{
    display: inline-block;
    list-style: none;
    padding: 5px;
    margin: 10px;
}
.tableau{
    margin-top: 5%;
    background-color: white;
    width: 100%;
    border: 1px solid #6F7A92;
    border-radius: 12px;
    padding: 10px;
    border-collapse: separate;
    border-spacing: 0 15px;
    
}
.tableau tr{
    width: 10%;
    padding: 12px;
    margin-top: 20px;
    text-align: center;
    color: #6F7A92;
    background-color: #EDEFF2;
    border: 1px solid #6F7A92;
   
}
.tableau tr th{
    color: #6F7A92;
    margin: 10%;
    background-color: white;
    text-align: center;
    background-color: turquoise;

}
.tableau td{
    margin-top: 10%;
    padding: 2px;
    width: 6%;
    text-align: center;
    position: relative;
    color: #6F7A92;
}
.reserve fieldset form input[type="submit"]{
    width: 20%;
    background-color: aquamarine;
    outline-style: none;
    border: none;
    color: #3a3d44;
    padding: 2px;
    margin-top: 2%;
    margin-left: 35%;
   
}
.infos-reserve header {
    margin-top: 30px;
}
.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  .content-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
  }
  
  .content-table th,
  .content-table td {
    padding: 12px 15px;
  }
  
  .content-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  
  .content-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
  }
  

